.container {
  padding: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out; /* Adjust the transition duration */
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Adjust the box-shadow properties */
}

.left-component {
  flex: 1;
  overflow-y: scroll;
}
